 #welcome-section{
    height:100vh;
    background:#fcf4f4;
    text-align: center;
    padding: 20%;
    margin: 5%;
    
  }
  #navbar{
    
    height:50px;
    background:#c00100;
  }
  #navbar ul li{
    display: inline-block;
    
}
.card-container ul li{
  display: inline-block;
  list-style:none;
    margin:20px;
    width: 300px;
    text-align: center;

}
#navbar ul{
    position:absolute;
    right:5px;
}
#navbar ul li a{
    color:white;
    padding:5px;
}
.nav div{
    display: inline-block;
    position:absolute;
    left:0;
    padding:15px;
    font-size: 20px;
    color:white;
}

  @media (max-width:600px){
    .project{
      width:80%;
    }
    #welcome-section{
      height:100vh;
      background:#fcf4f4;
      text-align: center;
      padding: 20%;
      margin: 5%;
      overflow-y:auto;
      
    }
  }

  footer{
    text-align: center;
  }